In [ ]:
# Markdown Basics
## Unordered List
* **Bold** <br>
* *Itallic* <br>
* ***BI***
* Normal Text
    * Sublist 1
    * Sublist 2
    
## Ordered List
> 1. Ordered list element 1
> 2. Ordered list element 2


- [x] Option 1
- [ ] Option 2 


I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [google]: http://google.com/        "Google"
  [yahoo]: http://search.yahoo.com/  "Yahoo Search"
  [msn]: http://search.msn.com/    "MSN Search"


printf("Hello Markdown")`

<http://google.com>

keerthikollati572@gmail.com
    
    
## How to add images
[jupyterlogo](jupyterlogo.png)
![jupyterlogo](jupyterlogo.png)

<img src="jupyterlogo.png" style="float:left">
<img src="jupyterlogo,png" width="50px" height="50px">

# Python Basics

## Python Version 3.7

    * Scripting Language 
    * Objective Oriented Language

In [17]:
# Python Comments

print("Goog Aftern !") #Basic Output
print("Hello Python")

Goog Aftern !
Hello Python

In [19]:
# Python Comments

print("Goog Afternoon","!",end="||") #Basic Output
print("Hello Python")

Goog Afternoon !||Hello Python

### Assignment

In [22]:
n1 = 123456
print(n1) # or
n1 # This is only possible in jupyter

123456

123456

In [26]:
n1 = 123456 # Single Variable Assignment
n2 = n3 = n4 = n1 # Mulstipule Variable Assignment

n3

a,b,c = 123,234,345 # Multipule Variable Assignment with different values

a
b
c

345

In [28]:
a,b,c = 123,234,345 # Multipule Variable Assignment with different values

print(a,b,c)

123 234 345

In [ ]:
### Arithmetic Operations
- +
- -
- **
- /
- %
-*

In [6]:
n1 % 11

n3 = n2 ** 1234

n3

NameError: name 'n1' is not defined

In [46]:
### Type
type(n3)

len(str(n3))

atoms = 10 ** 82
len(str(atoms))
atoms

type(str(atoms))

str

### Conditionals

In [52]:
atoms < 10 ** 79 # Output is False

atoms < 10 ** 99 # Output is True

True

### Data Types & Type Conversions

- int 
- float
- string

In [57]:

type(a)
s1 = "Python"
type(s1)

f1 = 12.345
type(f1)

int(f1) # Conversion of float into int

str(int(f1)) # Conversion of int into string

float(str(int(f1))) # Conversion of string into float

12.0

### Conditionals

In [66]:
if atoms < 10 ** 9:
    print("TRUE")
else:
    print("FALSE")

FALSE

In [67]:
# Check if a number is even

n =123
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [1]:
# Greatest of three nbrs

n1 = int(input("Enter the first nbr"))
n2 = int(input("Enter the second nbr"))
n3 = int(input("Enter the three nbr"))
if n1 > n2 and n1 > n3:
    print(n1, "is the greatest")
elif n2 > n3 and n2 > n1:
    print(n2, "is the greatest")
else:
    print(n3, "is the greatest")

Enter the first nbr5
Enter the second nbr-7
Enter the three nbr78
78 is the greatest

In [2]:
# Check if a year is a leap year or not

year = int(input("Enter any year"))
if year%4==0 and (year%100!=0 or year%400==0):
    print(year, "is leap year")
else:
    print(year, "Not a leap year")

Enter any year2015
2015 Not a leap year

In [22]:
# Check if a number exists in a given range(include)

n = int(input("Enter digit"))
i = 1
j = 10
if n > i and n < j:
    print(n, "Is in range")
else:
    print(n, "is not in range")

Enter digit5
5 Is in range

In [19]:
# Calculate the number of digits in a number

n = int(input("Enter digit"))
c=0
while(n!=0):
    n=n//10
    c=c+1
print(c)

Enter digit3456
4

In [4]:
# Check if a number is a multiple of 10

n = int(input("Enter any number"))
if n%10==0:
    print(n, "is multiple of 10")
else:
    print(n, "is not a multiple of 10")

Enter any number340
340 is multiple of 10

In [10]:
# Check if a number is a factor of 1000

n = int(input("Enter any number"))
if 1000 % n == 0:
    print(n, "is factor of 1000")
else:
    print(n, "is not a factor of 1000")

Enter any number200
200 is factor of 1000

In [17]:
# Check if given string is equal to a number

string = input("Enter string")
if string == int(string):
    print("Equal")
else:
    print("Not Equal")

Enter string298357
Not Equal

In [9]:
# Calculate the square root of a number without functions

n = int(input("Enter any number"))
res = n ** (1/2)
print(res)

Enter any number9
3.0

In [18]:
# Calculate the number of nano seconds in a given year(Considering leap year logic)
year = 2016
if year % 400 ==0 and (year % 100 != 0 or year % 4 == 0):
    print(366 * 24 * 60 * 60 * 10 ** -9 )
else:
    print(365 * 24 * 60 * 60 * 10 ** -9)

0.031536