# Problem Solving and Programming

#### Date 12 June 2019

#### Day Objectives

- String Slicing
- Functions in Python
- Basic Problems related to conditional statements using functions
- Iteration in Python
- Python Data Structures - Lists,Tuples and Dictionaries
- Basic Operations on data structures
- Applying Data Structures to solve problems

### String Slicing

In [29]:
s1 = 'PythonProgramming'

s1

s1[0] #Accessing the first character in a string
s1[2] #Accessing the third character in a string

s1[len(s1)-1] #Accessing the last character

s1[-1] #Another way of accessig the last character

len(s1)

s1[len(s1)-2] # Accessing the penultimate character of a string

s1[-2] # Accessing the penultimate character of a string

s1[0:2] # Second part of slice is exclusive and first part of slice is inclusive

s1[-2:] # Accessing the last two characters in a string

s1[4:] # Another way of accessing the last two characters in a string but it is not applicable for all strings



# Accessing all characters except first and last character
s1[1:-1]

# Accessing the middle character in a string 
s1[len(s1)//2]


s1[-1:0:-1] # Reverse of string

s1[-1::-1] # Reverse of string

s1[-1:-3:-1] #Accessing last two characters in a given string

s1[len(s1)//2:len(s1)//2-2:-1]# Reverse the middile two characters in an even length string

# Accessing alternate character in a string
s1[::2] # "python" --> "pto"

s1[::-2] # Reverse order

'gimroPotP'

### Functions

In [33]:
# Functions to print a reverse string

rev=10
def reverseString(s):
    return s[::-1]

reverseString("Python")

'nohtyP'

SyntaxError: invalid syntax (<ipython-input-36-567c2537ccb7>, line 5)

In [41]:
# Function to check if a string is a palindrome

def palindrome(s):
    if s == s[::-1]:
        return True
    else:
        return False
    
palindrome("keerthi")

False

In [43]:
# Function to Reverse a string

def reverseString(s):
    if s== s[::-1]:
        return True
    else:
        return False

reverseString("123321")

True

In [47]:
# Checking if a given year is leap year

def isLeapYear(year):
    if year % 4 == 0 and (year % 100 !=0 or year % 400 == 0):
        return True
    else:
        return False
    
isLeapYear(1997)

False

In [55]:
# Function to count the number if digits in a given number


def countDigits(n):
    return len(str(n))
    

countDigits(123456)

6

In [69]:
# Function to identify the greatest of 4 numbers

def greatestNumber(a,b,c,d):
    if a > b and a > c and a > d:
        print(a, "is a greatest number")
    elif b > c and b > d:
        print(b, "is a greatest number")
    elif c > d:
        print(c, "is a greatest number")
    else:
        print(d, "is a greatest number")
        
greatestNumber(4,12,-23,0)

12 is a greatest number

### Iteration

- for
- while

In [61]:
# Function to print n natural numbers

def naturalNumbers(n):
    for counter in range(1, n+1):
        print(counter, end=" ")
    return

naturalNumbers(30)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

In [70]:
# Function to print n natural numbers

def naturalNumbers(n):
    for counter in range(1, n+1):
        print(counter, end=" ")
    print()
    return

naturalNumbers(30)
naturalNumbers(10)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
1 2 3 4 5 6 7 8 9 10

In [75]:
# Function to print n natural numbers using while loop

def nNaturalNumbers(n):
    counter = 1
    while counter <= n:
        print(counter, end = " ")
        counter = counter + 1
    return


nNaturalNumbers(9)

1 2 3 4 5 6 7 8 9

In [ ]:
# Function to print n natural numbers using while loop

def nNaturalNumbers(n):
    i = 1
    while i <= n:
        print(i, end = " ")
        i = i + 1
    return


nNaturalNumbers(10)

In [1]:
# Function to print reverse of N natural numbers

def printnNaturalNumbersReverse(n):
    i=1
    while i <= n:
        print(i, end=" ")
        i=i+1
    return

printnNaturalNumbersReverse(10)

1 2 3 4 5 6 7 8 9 10

In [1]:
#Function to print all numbers divisible by 6

def divisibleBy6(n):
    for i in range(1, n):
        if i % 6 == 0:
            print(i, end=" ")
    return

    
divisibleBy6(20)

6 12 18

In [4]:
# And not a factor of 100 in a given range(lb, up) inclusive

def divisibleBy6(lb,up):
    for i in range(lb, up):
        if i % 100 != 0:
            print(i, end=" ")
    return

    
divisibleBy6(200,500)

201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499

In [3]:
# Function to find the average of cubes of all even numbers in a given range

def averageOfCubes(lb,ub):
    sum1 = 0
    count = 0
    for i in range(lb, ub+1):
        if i % 2 == 0:
            sum1 = sum1 + i ** 3
            count = count + 1
    avg = sum1 // count
    return avg

averageOfCubes(1,5)

36

In [37]:
# Function to generate the list of factorial for a given number
# 12 --> 1 2 3 4 6 12

def listOfFactorial(n):
    for i in range(1, n+1):
        if n % i == 0:
            print(i, end=" ")
    return i

listOfFactorial(12)

1 2 3 4 6 12

12

In [21]:
#Function to calculate the factorial of a given number

def factorialOfGivenNumber(n):
    fact = 1
    for i in range(1, n+1):
        fact = fact * i
    return fact

factorialOfGivenNumber(3)

6

In [23]:
# Function to check if a given number is prime

def isPrime(n):
    count = 0
    for i in range(1, n+1):
        if n % i == 0:
            count = count + 1
    if count == 2:
        print(n, "is prime number")
    else:
        print(n, "is not a prime number")
            
            
isPrime(12)

12 is not a prime number

In [10]:
# Function to calculate the average first N numbers

def calculateAvgofFirstnNumbers(n):
    sum1 = 0
    for i in range(1, n+1):
        sum1 = sum1 + i
    avg = sum1//n
    print(avg, end=" ")
    return avg

calculateAvgofFirstnNumbers(5)

3

3

In [11]:
# Function to check if a given number is perfect number

def perfectNumberInRange(n):
    sum1 = 0
    temp = n
    for i in range(1, n):
        if n % i == 0:
            sum1 = sum1 + i
    if sum1 == temp:
        return True
    else:
        return False


perfectNumberInRange(6)

True

In [ ]:
# Function to generate all perfect numbers in a given range

In [31]:
# Function to calculate the average of first N prime numbers 

def averageOfPrimeNumber(lb,ub):
    count = 0
    c = 0
    sum = 0
    for i in range(lb, ub+1):
        for j in range(1, i+1):
            if i % j == 0:
                count = count + 1
                sum = sum + i
    if count == 2:
        c = c + 1
    return sum//c
        
            
averageOfPrimeNumber(1,10)

ZeroDivisionError: integer division or modulo by zero

In [8]:
# Function to print the alternate values in a rnage
# [500, 550] -> 500 502 504 ......550
# (500, 550) -> 501 503 505 ......549
# range(500, 550) -> 500 501 502 .... 549
# All set based functions in python have start 

def alternativeValues(start, end):
    for i in range(start, end+1,2):
        print(i, end=" ")
    return

alternativeValues(500, 550)

500 502 504 506 508 510 512 514 516 518 520 522 524 526 528 530 532 534 536 538 540 542 544 546 548 550

In [9]:
# Function to print the alternate4 values in a rnage
# [500, 550] -> 500 504 508 ......550
# (500, 550) -> 501 505 509 ......549
# range(500, 550) -> 500 501 502 .... 549
# All set based functions in python have start 

def alternativeValues(start, end):
    for i in range(start, end+1,4):
        print(i, end=" ")
    return

alternativeValues(500, 550)

500 504 508 512 516 520 524 528 532 536 540 544 548

In [14]:
# Function to print reverse of given range in the

def reverseString(start, end):
    for i in range(end, start-1, -1):
        print(i, end=" ")
    return

reverseString(1, 10)

10 9 8 7 6 5 4 3 2 1

In [16]:
# Function to print the odd numbers reverse order in a range

def oddNumbersInRange(start, end):
    for i in range(end, start-1, -1):
        if i % 2 != 0:
            print(i, end=" ")
    return 

oddNumbersInRange(1,10)

9 7 5 3 1

In [34]:
# Function to calculate the sum of numbers in a range

def sumOfNumbers(start, end):
    sum1 = 0
    for i in range(start, end+1):
        sum1 = sum1 + i
    return sum1/(end-start+1)

sumOfNumbers(1000,5000)

3000.0

### Advanced Problem Set

In [26]:
# Function to calculate average of all factorial in a given range

def averageOfFactorial(start, end):
    fact = 1
    count = 0
    for i in range(start, end+1):
        fact = fact * i
        count = count + 1
    return fact//count

averageOfFactorial(1,6)

120

In [79]:
# Function to generate N odd armstrong numbers

def armstrong(start,end):
    for i in range(start,end+1):
        n=i
        count=len(str(n))
        sum=0
        temp=n
        while(n>0):
            arm=(n%10)**count
            sum=sum+arm
            n=n//10
        if(temp==sum):
            if(temp%2==1):
                print(temp,end=" ")
armstrong(1,100000)

1 3 5 7 9 153 371 407 92727

In [76]:
# Function to generate Multiplication table for a number in a given range
# 10 in the range(100, 102) inclusive
# 10 x 100 = 1000
# 10 x 101 = 1010
# 10 x 102 = 1020

def MultiplicationTable(start, end):
    for i in range(start, end+1):
        res = 10 * i
        print(res, end=" ")
    return res

MultiplicationTable(100,102)

1000 1010 1020

1020

In [78]:
# Function to generate all leap years in a given time period 
# 2000 - 2010 -> 2000 2004  2008 2012 2016 2018 2020

def isLeapYear(year): # To check if a given year is a leap year or not
    if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
        return True
    return False

def generateLeapYear(startyear,endyear):
    for i in range(startyear, endyear+1):
        if isLeapYear(i):
            print(i, end=" ")
    return

generateLeapYear(2000, 2020)

2000 2004 2008 2012 2016 2020

In [66]:
#Armstrong Number or not
def armstrong(n):
    c=len(str(n))
    sum1=0
    temp=n
    while(n>0):
        arm=(n%10)**c
        sum1=sum1+arm
        n=n//10
    if(temp==sum1):
        print(temp)
armstrong(370)

370

In [65]:
#Armstrong Numbers with in a range
def armstrong(start,end):
    for i in range(start,end+1):
        n=i
        c=len(str(n))
        sum1=0
        temp=n
        while(n>0):
            arm=(n%10)**c
            sum1=sum1+arm
            n=n//10
        if(temp==sum1):
            print(temp,end=" ")
armstrong(1,10000)

1 2 3 4 5 6 7 8 9 153 370 371 407 1634 8208 9474

In [51]:
n=1223
st=str(n)
l=len(st)
l

4

In [17]:
# Calculate number of days in a given time period using leapyearlogic
# For every year in the given time period, if the year is not a leap year -> add 365 to sum, If leap year, 

def numberOfDays(startyear, endyear):
    sum = 0
    for year in range(startyear, endyear+1):
        if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
            sum = sum + 366
    else:
        sum = sum + 365
    return sum

numberOfDays(2017,2018)

365

In [23]:
# Function to calculate number of hours for a given period
# numberOfHours(11, 1975, 03, 1999) -> 204504
#numberOfHours(5, 2019, 6, 2019) -> 
# 2, 2017, 6, 2019
# [ all days from feb 2016 to dec 2016,
# all days for years between 2016 and 2019,
# all days from Jan to June 2019]
# No of hours = 24 * No of days
# 3 steps
    #1. Start month year to end of year - calculate no of days
    #2. Calculate days for all years between start year and end year
            # 2017, 2018 - 365 * no of years
    #3. Calculate days from Jan to end month year

def numberOfDaysMonth(month, year):
    if month == 2:
        if isLeapYear(year):
            return 29
        return 28
    elif(month <= 7 and month % 2 != 0) or (month >= 8 and month % 2 == 0 ):
        return 31
    else:
        return 30
def daysInStartYear(startmonth, startyear):
    days = 0
    for month in range(startmonth, 13):
        days = days + numberOfDaysMonth(month, startyear)
    return days

def daysInEndYear(endmonth, endyear):
    days = 0
    for month in range(1, endmonth+1):
        days += numberOfDaysMonth(month, endyear)
        return days

def numberOfHours(startmonth, startyear, endmonth, endyear):
    days = 0
    days += daysInStartYear(startmonth, startyear)
    days += daysInEndYear(endmonth, endyear)
    if endyear - startyear == 2: # 2019 - 2017
        days += numberOfDays(startyear+1, startyear+1)
    elif endyear - startyear > 2:
        days += numberOfDays(startyear+1, endyear-1)
    return 24 * days
        
numberOfHours(11, 1975, 3, 1999)

63672

In [ ]:
# Excluding Feb
# First Six Months - 1, 3, 4, 5, 6, 7
                    # All Odd months have 31 days
                    # All even months have 30 days
# Last six months - 8, 9, 10, 11, 12
                    # All even months have 31 days
                    # All odd months have 30 days
        
# 31 days - (months <= 7 and month)