#### Once Pandas is installed, you can import it and check the version:

In [3]:
import pandas as pd
pd.__version__

'0.24.2'

#### To display all the contents of the pandas namespace, you can type this:

In [ ]:
pd.<TAB>

#### to display the built-in Pandas documentation, you can use this:

In [8]:
pd?

## Pandas Objects

### fundamental Pandas data structures: the Series, DataFrame, and Index.

1. The Pandas Series Object
    - A Pandas Series is a one-dimensional array of indexed data. It can be created from a
      list or array as follows:

### Series as Specialized list

In [10]:
# example for the pandas series objects

data = pd.Series([5,6,3,8,10,13])
data

0     5
1     6
2     3
3     8
4    10
5    13
dtype: int64

- As we see in the preceding output, the Series wraps both a sequence of values and a
  sequence of indices, which we can access with the values and index attributes.

In [12]:
data.values

array([ 5,  6,  3,  8, 10, 13], dtype=int64)

- The values are simply a familiar NumPy array

In [13]:
data.index

RangeIndex(start=0, stop=6, step=1)

- The index is an array-like object of type pd.Index, which we’ll discuss in more detail
  momentarily:

#### Like with a NumPy array, data can be accessed by the associated index via the familiar Python square-bracket notation:

In [16]:
data[4]

10

In [17]:
data[0:]

0     5
1     6
2     3
3     8
4    10
5    13
dtype: int64

In [18]:
data[:2]

0    5
1    6
dtype: int64

In [21]:
data[:-1]

0     5
1     6
2     3
3     8
4    10
dtype: int64

In [22]:
data[::-1]

5    13
4    10
3     8
2     3
1     6
0     5
dtype: int64

- Note :- 
         1. As we will see, though, the Pandas Series is much more general and flexible than the
            one-dimensional NumPy array that it emulates.
         2. The essential difference is the presence
            of the index: while the NumPy array has an implicitly defined integer index used
            to access the values, the Pandas Series has an explicitly defined index associated with
            the values.
         3. The index need not be an integer, but can consist of values of any desired
            type.

In [24]:
data = pd.Series([5,6,3,8,10,13], index = ['a','b','c','d','e','f'])
#data
data[5]

13

### Series as Specialized Dectionary

In [7]:
data =pd.Series({'California': 38332521,'Texas': 26448193,'New York': 19651127,'Florida': 19552860,'Illinois': 12882135})
data

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [8]:
data['California':'Florida']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

- Unlike a dictionary, though, the Series also supports array-style operations such as
  slicing:

2. The Pandas DataFrame Object
   - The next fundamental structure in Pandas is the DataFrame. Like the Series object
     discussed in the previous section, the DataFrame can be thought of either as a generalization
     of a NumPy array, or as a specialization of a Python dictionary. We’ll now
     take a look at each of these perspectives.

In [ ]:
###

In [9]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,'Florida': 170312, 'Illinois': 149995}
population_dict = {'California': 38332521,'Texas': 26448193,'New York': 19651127,'Florida': 19552860,'Illinois': 12882135}
area = pd.Series(area_dict)
population = pd.Series(population_dict)
print(area,'\n',population)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64
 California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [10]:
states = pd.DataFrame({'population':population,'area':area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

* Note :- 
       1. Like the Series object, the DataFrame has an index attribute that gives access to the
          index labels:

In [11]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

* Note :-
       1. Additionally, the DataFrame has a columns attribute, which is an Index object holding
          the column labels:

In [12]:
states.columns

Index(['population', 'area'], dtype='object')

- Note :-
    Thus the DataFrame can be thought of as a generalization of a two-dimensional
    NumPy array, where both the rows and columns have a generalized index for accessing
    the data.

### DataFrame as specialized dictionary

- Similarly, we can also think of a DataFrame as a specialization of a dictionary. Where
  a dictionary maps a key to a value, a DataFrame maps a column name to a Series of
  column data. For example, asking for the 'area' attribute returns the Series object
  containing the areas we saw earlier:

In [13]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

### Constructing DataFrame objects

- A Pandas DataFrame can be constructed in a variety of ways. Here we’ll give several examples.

* From a single Series object. A DataFrame is a collection of Series objects, and a singlecolumn
  DataFrame can be constructed from a single Series:

In [17]:
data = pd.DataFrame(population, columns = ['population'])
data

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

* From a list of dicts. Any list of dictionaries can be made into a DataFrame. We’ll use a
  simple list comprehension to create some data:

In [20]:
data = [{'a' : i,'b' : 2*i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

- Even if some keys in the dictionary are missing, Pandas will fill them in with NaN (i.e.,“not a number”) values:

In [23]:
pd.DataFrame([{'a':2,'b':5},{'b':7,'c':8}])

     a  b    c
0  2.0  5  NaN
1  NaN  7  8.0

### From a dictionary of Series objects
-  As we saw before, a DataFrame can be constructed from a dictionary of Series objects as well

In [25]:
pd.DataFrame({'population':population,'area':area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

### From a two-dimensional NumPy array
- Given a two-dimensional array of data, we can create a DataFrame with any specified column and index names. If omitted, an integer index will be used for each:

In [27]:
import numpy as np
pd.DataFrame(np.random.rand(3,2),columns = ['foo','bar'],index = ['a','b','c'])

        foo       bar
a  0.994304  0.705974
b  0.040995  0.894275
c  0.673848  0.900039

In [1]:
n,k = map(int,input().split())
print(n,k)

10 100
10 100

In [4]:
max(map(int,input().split()))

1 5 -9

5

In [9]:
n = int(input())
n1 = list(map(int,input().split()))
s = ''
for i in n1:
    s = s + str(i%10)
if int(s)%10==0:
    print('Yes')
else:
    print("No")

3
20 48 45
No

In [11]:
li=[20]
print(li[-1])

20

In [12]:
x = int(input())
if x > 0:
    r = x%5+x//5
    print(r)

26
6

In [9]:
n = int(input())
r = list(map(int,input().split()))
for i in r:
print(r)

3
1 2 3
<map object at 0x0000025F5B08DF28>

In [12]:
n = int(input())
print(input())

3
1 2 3
1 2 3

In [3]:
n = int(input())
li=[]
for i in range(1,n+1):
    if n%i==0 and n//i==3:
        li.append(i)
#print(len(li))
if len(li)==1:
    print("YES")
else:
    print("NO")

6
YES

In [4]:
n = int(input())
if n%3==0:
    print("YES")
else:
    print("NO")

4
NO

In [27]:
n = int(input())
li = list(map(int,input().split()))
#print(li)
l1=li[0:3]
l2=li[3:]
#print(l1,l2)
s2=''
for i in l1:
    s1 = str(i)
    rem = int(s1[::-1])%10
    s2 = s2+str(rem)
for i in l2:
    s1 = str(i)
    rem = int(s1)%10
    s2 = s2+str(rem)
print(s2)
if int(s2)%11==0:
    print("OUI")
else:
    print("NON")

6
123 345 567 789 987 654
135974
NON

In [37]:
n = int(input())
li = list(map(int,input().split()))
l1=li[0:len(li)//2]
l2=li[len(li)//2:]
s2=''
for i in l1:
    s2 = s2+str(int(str(i)[::-1])%10)
for i in l2:
    s2 = s2+str(int(i)%10)
print(s2)
if int(s2)%11==0:
    print("OUI")
else:
    print("NON")

6
15478 8452 8232 874 985 4512
188452
OUI

In [ ]:
t = int(input())
n = int(input())
for i in range(t):
    if n%2==0:
        rem = n//2
    elif n%2!=0:
        n = (3*n)+1
print(n)