# Strings

In [1]:
str1="hello world"
print(str1)

hello world

In [29]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [3]:
length(str1)

NameError: name 'length' is not defined

In [5]:
str1='tirupati'
print(str1.upper())

TIRUPATI

In [6]:
print(str1.index('i'))

1

In [8]:
print(str1.count('i'))

2

In [9]:
print(str1.isalpha())

True

In [10]:
str1='v123'
print(str1.isalpha())

False

In [11]:
str1='v123'
print(str1.alpha())

AttributeError: 'str' object has no attribute 'alpha'

In [21]:
str2='virajitha'
print(str2.isdigit())#to check whether the string is integer or not

False

In [23]:
print(str2.index("r"))

2

In [24]:
list(str1)#converts string to list

['v', 'i', 'r', 'a', 'j', 'i', 't', 'h', 'a']

In [25]:
str1='hello world'#splits the string at given character
str1.split(" ")

['hello', 'world']

In [27]:
str='hello CSE'#converts upper to lower and lower to upper
str.swapcase()

'HELLO cse'

In [28]:
str.capitalize()#converts only first character of first string to capital

'Hello cse'

In [31]:
str='hello cSE'
str.title()#converts first character of each string to capital

'Hello Cse'

In [32]:
s1='virajitha'
s2='reddy'
s1.join(s2)

'rvirajithaevirajithadvirajithadvirajithay'

In [33]:
s1+s2

'virajithareddy'

In [34]:
print(s1,s2)#',' is to mention space

virajitha reddy

In [38]:
s='how r u? '
s.strip()#used to remove extra wide spaces

'how r u?'

In [39]:
s.lstrip()

'how r u? '

In [40]:
s.rstrip()

'how r u?'

In [45]:
print(s1[-1])

a

In [46]:
s.replace('r','are')

'how are u? '

In [47]:
#reverse a string and whther it is palindrome or not
str1=input("enter the string")
str2=str1[::-1]
if str1==str2:
    print("the given string is a palindrome")
else:
    print("The given string is not apalindrome")

enter the stringmadam
the given string is a palindrome

In [101]:
#input='Sindhu Ch'
#output='C. Sindhu'
s='Sindhu Ch'
s=s.split()
print(s[1][0]+'.',s[0])

C. Sindhu

In [92]:
#in='hello cse'
#o/p='hellocse'
v1='hello cse'
v1=v1.split()
v1[0]+v1[1]

'hellocse'

In [52]:
str3=input('enter the string')
print(len(str3))

enter the stringvirajitha
9

In [103]:
st=input("enter the string")
subst=input("enter the substring")
if subst in st:
    print(st.count(subst))

enter the stringproblem solving and programming
enter the substringin
2

In [53]:
str4="problem solving and programming in python"
str4.count('pr')

2

In [56]:
#input='Hello CSe'
#output='hELLO csE'
s1="Hello CSe"
print(s1.swapcase())

hELLO csE

# Data Structures in python
- Data Structures are used to store information together.
- Different types of data structures in python are:
- Lists
- Tuples
- Dictionaries
- Sets

### Tuples

- tuple is a collection of different data types
- they are immutable
- the are enclosed in '()'

In [137]:
tup=(1,2,3)
tup

(1, 2, 3)

In [138]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [139]:
tup.count('virajitha')

0

In [140]:
tup[0][1]

TypeError: 'int' object is not subscriptable

In [141]:
tup.index(3)

2

In [142]:
print(max(tup))

3

In [150]:
tup1=('virajitha',2,3,4)
tup2=(5,6,7,8,9)
tup3=tup1+tup2#concatination of tuples
tup3

('virajitha', 2, 3, 4, 5, 6, 7, 8, 9)

In [151]:
tup4=(tup1,tup2)#nesting of tuples
tup4

(('virajitha', 2, 3, 4), (5, 6, 7, 8, 9))

In [152]:
#immutable tuples
tup1[0]=9

TypeError: 'tuple' object does not support item assignment

In [159]:
#repetetion of tuples
t=('virajitha',)*4
t

('virajitha', 'virajitha', 'virajitha', 'virajitha')

In [160]:
del(t)

In [161]:
t

NameError: name 't' is not defined