In [74]:
s = 'Keerthi'
print(s[1:])

eerthi

### Strings in python

In [6]:
name = 'python programming'
print(type(name)) # To check type of name

<class 'str'>

In [7]:
print(len(name))

18

In [8]:
print(name[0])

p

In [9]:
print(name[::-1])

gnimmargorp nohtyp

In [11]:
print(name[len(name)-1])

g

In [12]:
print(name[17])

g

In [14]:
print(name[-1])

g

### String is immutable

### string methods

- str.islower()
- str.isupper()
- str.lower()
- str.upper()

In [17]:
name = 'python'
name.islower()

True

In [18]:
name.isupper()

False

In [19]:
name = 'python programming'
name.islower()

True

In [20]:
name = 'Python'
name.islower()

False

In [27]:
# create a function to check first and last characters are capital or not

def characterCapsorNot(s):
    if s[0].isupper() and s[-1].isupper():
        return True
    else:
        return False

s = input()
characterCapsorNot(s)

Apssdc

False

In [29]:
name = 'PYTHON'
print(name.lower())
print(name)

python
PYTHON

In [30]:
name = 'PYTHON'
name = name.lower()
print(name)

python

In [31]:
name = 'python'
print(name.upper())
print(name)

PYTHON
python

In [33]:
name = 'PythoN'
name = name.upper()
print(name)

PYTHON

### str.isdigit()

In [38]:
s = 'abc123'
print(s.isdigit())

False

In [39]:
s = '1234'
print(s.isdigit())

True

### str.isalpha()

In [40]:
s = 'keerthi'
print(s.isalpha())

True

In [41]:
s = 'KEErthi'
print(s.isalpha())

True

In [44]:
# create a function which can identify number or alphabes or others

def identifyMe(name):
    if name.isalpha():
        return name
    elif name.isdigit():
        return name
    else:
        return('Others')
    
name = input()
identifyMe(name)

1234

'1234'

### str.split()

In [63]:
name = 'keerthi is blessed by god'
print(name.split())

['keerthi', 'is', 'blessed', 'by', 'god']

In [62]:
name = 'keerthi is blessed by god'
words = name.split() # here words variable is list type
print(words)
print(words[0])
print(words[4])

['keerthi', 'is', 'blessed', 'by', 'god']
keerthi
god

### str.lstrip()

In [66]:
name = '  python programming  '
print('original length :',len(name))

original length : 22

In [68]:
name = '  python programming  '
res = name.lstrip()
print(res)
print(len(res))

python programming
20

### str.rstrip()

In [69]:
name = '  python programming  '
print('original length :',len(name))

original length : 22

In [70]:
name = '  python programming  '
res = name.rstrip()
print(res)
print(len(res))

  python programming
20

### take the values from the user until user gives 0 and find and print the minimum and maximum and sum of numbers in given values

# example data
- 'sai'
- 10
- 'ram'
- 'ra$'
- 20
- 5
- 0

In [14]:
nbrs = []
while True:
    data = input()
    if data == '0':
        nbrs.append(0)
        break
    if data.isdigit():
        nbrs.append(int(data))
print(nbrs)
print('Maximum :',min(nbrs),'Maximum :',max(nbrs),'Sum :',sum(nbrs))

sai
keerthi
20
10
0
[20, 10, 0]
Maximum : 0 Maximum : 20 Sum : 30

### str.startswith(sub_string)

In [19]:
name = 'keerthi'
print(name.startswith('k'))

True

In [20]:
name = 'Keerthi'
print(name.startswith('k'))

False

### str.endswith(sub_string)

In [28]:
name = 'keerthi'
print(name.endswith('i'))

True

In [29]:
name = 'Keerthi'
print(name.endswith('I'))

False

### str.swapcase()

In [31]:
# swapcase gives lower to upper and upper to lower
name = 'keerthi'
print(name.swapcase())

KEERTHI

In [34]:
name = 'keeRThi'
print(name.swapcase())

KEErtHI

### str.title()

In [36]:
name = 'python programming'
print(name.title())

Python Programming

### str.istitle()

In [37]:
name = 'python programming'
print(name.istitle())

False

In [42]:
name = 'Python Programming'
print(name.istitle())

True

### str.join(squence_or_collection_of_items)

In [43]:
mylist = ['k', 'e', 'e', 'r', 't', 'h', 'i']
'@'.join(mylist)

'k@e@e@r@t@h@i'

In [73]:
mylist = ['k', 'e', 'e', 'r', 't', 'h', 'i']
print(''.join(mylist))

keerthi

In [72]:
mylist = ['k', 'e', 'e', 'r', 't', 'h', 'i', '10']
print(''.join(mylist))

keerthi10

In [53]:
name = 'k e e r t h i'
print(''.join(name.split())) #keerthi

keerthi

In [71]:
students = [('keerthi',"10,20,10,40"),('bharu','30,40,50,60')]
print(students)
for student in students:
    print(student)
    name = student[0]
    marks_string = student[1]  # "10,20,10,40"
    list_string = marks_string.split(',')  # ['10', '20', '10', '40']
    total_marks = 0
    for subject_marks in list_string:
        total_marks += int(subject_marks)
    print(name, total_marks)

[('keerthi', '10,20,10,40'), ('bharu', '30,40,50,60')]
('keerthi', '10,20,10,40')
keerthi 80
('bharu', '30,40,50,60')
bharu 180

In [85]:
paragraph = 'xyz abc mnp "asdf dfaa asdf" asd "fdas asdsdaff"'
sentences = paragraph.split('"')
print(words)
for sentence in sentences:
    if len(sentence) > 0:
        if sentence.endswith(' '):
            for word in sentence.split():
                print(word)
        else:
            print('"'+sentence+'"')

['xyz abc mnp ', 'asdf dfaa asdf', ' asd ', 'fdas asdsdaff', '']
xyz
abc
mnp
"asdf dfaa asdf"
asd
"fdas asdsdaff"

In [96]:
names = ['keerthi','ramu','syam','manasi','bhuvan']
for name in names:
    if not(name.endswith('u') or name.endswith('i')):
        print(name)

syam
bhuvan

### string slicing

In [120]:
name = 'python programming'
print(name[0:])
print(name[7:])
print(name[7:18])
print(name[10:14])
print(name[0:10:3]) # Here '0' represents starting position, '10' represents range(ending position) and 3 increments

python programming
programming
programming
gram
ph o

In [121]:
name = 'python programming'
for char in name:
    print(char)

p
y
t
h
o
n

p
r
o
g
r
a
m
m
i
n
g

### Tuples
- Tuples are immutable
- Tuple has only two methods
    - Those are count() and

In [122]:
myTuple = (1,2,3,4)
print(len(myTuple))

4

In [123]:
print(myTuple[0])

1

In [124]:
myTuple[0]='7'
print(myTuple)

TypeError: 'tuple' object does not support item assignment

### tuple.count(item)

In [125]:
myTuple.count(4)

1

In [126]:
myTuple.count(10)

0

### tuple.index(item)

In [132]:
myTuple.index(2)

1

In [131]:
myTuple.index(4)

3

In [133]:
min(myTuple)

1

In [134]:
max(myTuple)

4

### tuples also slicable

In [135]:
myTuple[0:3]

(1, 2, 3)

In [137]:
myTuple = (1,2,3,1,2,3)
myTuple.index(3) # Here 3 means value
myTuple.index(3,3) # Here another 3 represents from where we have to start searching

5

In [138]:
myTuple = (1,2,3,'5','5')
for each in myTuple:
    print(each,type(each))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
5 <class 'str'>
5 <class 'str'>

In [163]:
# sum of digits
rollno = '13AB5A0504'
nbrs = []
#print(len(rollno))
for i in rollno:
    if i.isalpha():
        continue
    elif i.isdigit():
        nbrs.append(int(i))
print(sum(nbrs))

18

In [193]:
# reverse the string with slicing (::-1)

str = 'keerthi'
li = []
for i in str:
    li.append(i)
print(li[::-1])

['i', 'h', 't', 'r', 'e', 'e', 'k']

In [194]:
# reverse the string without slicing (::-1)

str = 'keerthi'
res = ''.join(reversed(str))
print(res)

ihtreek

In [207]:
# print the names which has duplicate characters
# "ramu ravi akash" --> akash

str = "ramu ravi akash"
sentence = str.split()
for i in sentence:
    for ch in i:
        if i.count(ch) > 1:
            print(i)
            break

akash

In [205]:
# "ramu ravi"
# -1
str = "ramu ravi"
sentence = str.split()
for i in sentence:
    for ch in i:
        if i.count(ch) > 1:
            print(i)
            break
else:
    print(-1)

-1

In [191]:
# "1+2+3+4"
# sum = 10

str = '1+2+3+4'
nbrs = []
for i in str:
    if not(i.isdigit()):
        continue
    elif i.isdigit():
        nbrs.append(int(i))
print(sum(nbrs))

10